In [155]:
import pandas as pd
import numpy as np
from re import *
data = pd.read_csv('/home/simplon/Téléchargements/thanksgiving.csv',encoding='latin-1')

In [181]:
celebrate_thanksgiving_yes_bol= data['Do you celebrate Thanksgiving?'] == 'Yes'
celebrate_thanksgiving_yes_bol.value_counts()
data=data[celebrate_thanksgiving_yes_bol].copy()
print(data)

      RespondentID Do you celebrate Thanksgiving?  \
0       4337954960                            Yes
1       4337951949                            Yes
2       4337935621                            Yes
3       4337933040                            Yes
4       4337931983                            Yes
...            ...                            ...
1053    4335944082                            Yes
1054    4335943173                            Yes
1055    4335943060                            Yes
1056    4335934708                            Yes
1057    4335894916                            Yes

     What is typically the main dish at your Thanksgiving dinner?  \
0                                                Turkey
1                                                Turkey
2                                                Turkey
3                                                Turkey
4                                              Tofurkey
...                                                 ...
1053                                             Turkey
1054                                             Turkey
1055                             Other (please specify)
1056                                             Turkey
1057                                             Turkey

     What is typically the main dish at your Thanksgiving dinner? - Other (please specify)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1053                                                NaN
1054                                                NaN
1055                                               Duck
1056                                                NaN
1057                                                NaN

     How is the main dish typically cooked?  \
0                                     Baked
1                                     Baked
2                                   Roasted
3                                     Baked
4                                     Baked
...                                     ...
1053                                Roasted
1054                                  Baked
1055                                  Baked
1056                                  Baked
1057                                  Baked

     How is the main dish typically cooked? - Other (please specify)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1053                                                NaN
1054                                                NaN
1055                                                NaN
1056                                                NaN
1057                                                NaN

     What kind of stuffing/dressing do you typically have?  \
0                                           Bread-based
1                                           Bread-based
2                                            Rice-based
3                                           Bread-based
4                                           Bread-based
...                                                 ...
1053                                        Bread-based
1054                                        Bread-based
1055                                         Rice-based
1056                                               None
1057                                        Bread-based

     What kind of stuffing/dressing do you typically have? - Other (please specify)  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1053                                                NaN
1054                                                NaN
1055                                                NaN
1056                                                NaN
1057                                                NaN

     What type of cranberry saucedo you typically have?  \
0                                                  None
1                                Other (please specify)
2                                              Homemade
3                                              Homemade
4                                                Canned
...                                                 ...
1053                                           Homemade
1054                                             Canned
1055                                               None
1056                                           Homemade
1057                                             Canned

     What type of cranberry saucedo you typically have? - Other (please specify)  \
0                                                   NaN
1                       Homemade cranberry gelatin ring
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1053                                                NaN
1054                                                NaN
1055                                                NaN
1056                                                NaN
1057                                                NaN

      ... Will you shop any Black Friday sales on Thanksgiving Day?  \
0     ...                                                 No
1     ...                                                Yes
2     ...                                                Yes
3     ...                                                 No
4     ...                                                 No
...   ...                                                ...
1053  ...                                                 No
1054  ...                                                 No
1055  ...                                                Yes
1056  ...                                                Yes
1057  ...                                                Yes

     Do you work in retail? Will you employer make you work on Black Friday?  \
0                        No                                              NaN
1                        No                                              NaN
2                        No                                              NaN
3                        No                                              NaN
4                        No                                              NaN
...                     ...                                              ...
1053                     No                                              NaN
1054                     No                                              NaN
1055                     No                                              NaN
1056                    Yes                                              Yes
1057                     No                                              NaN

     How would you describe where you live?      Age What is your gender?  \
0                                  Suburban  18 - 29                 Male
1                                     Rural  18 - 29               Female
2                                  Suburban  18 - 29                 Male
3                                     Urban  30 - 44                 Male
4                                     Urban  30 - 44                 Male
...                                     ...      ...                  ...
1053                                  Rural  30 - 44               Female
1054                               Suburban      60+               Female
1055                                  Urban      60+                 Male
1056                                    NaN      NaN                  NaN
1057                                    NaN      NaN                  NaN

     How much total combined money did all members of your HOUSEHOLD earn last year?  \
0                                    $75,000 to $99,999
1                                    $50,000 to $74,999
2                                          $0 to $9,999
3                                       $200,000 and up
4                                  $100,000 to $124,999
...                                                 ...
1053                               $100,000 to $124,999
1054                                 $50,000 to $74,999
1055                               $100,000 to $124,999
1056                                                NaN
1057                                                NaN

               US Region int_age int_income
0        Middle Atlantic    18.0    75000.0
1     East South Central    18.0    50000.0
2               Mountain    18.0        0.0
3                Pacific    30.0   200000.0
4                Pacific    30.0   100000.0
...                  ...     ...        ...
1053            Mountain    30.0   100000.0
1054             Pacific    60.0    50000.0
1055             Pacific    60.0   100000.0
1056                 NaN     NaN        NaN
1057                 NaN     NaN        NaN

[980 rows x 67 columns]

In [182]:
age_str=data['Age']

In [183]:
def convertStrInt(S):
    if pd.isnull(S)==True:
        return None
    else:
        s=S.split()
        s=s[0]
        s=s.replace('+','')
        s=int(s)
        return s

In [184]:
data['int_age']=data['Age'].apply(convertStrInt)

In [185]:
data['int_age'].describe()

count    947.000000
mean      40.089757
std       15.352014
min       18.000000
25%       30.000000
50%       45.000000
75%       60.000000
max       60.000000
Name: int_age, dtype: float64

In [186]:
def convertrevenu(X):
    if pd.isnull(X)==True:
        return None
    X=X.split()
    X=X[0]
    if X == 'Prefer':
        return None
    X=X.replace("$","")
    X=X.replace(",","")
    X=int(X)
    return X

data['int_income']=data['How much total combined money did all members of your HOUSEHOLD earn last year?'].apply(convertrevenu)

In [187]:
data['int_income'].describe()

count       829.000000
mean      75965.018094
std       59068.636748
min           0.000000
25%       25000.000000
50%       75000.000000
75%      100000.000000
max      200000.000000
Name: int_income, dtype: float64

In [188]:
inf_150000 = data[:]['int_income']<150000
sup_150000 = data[:]['int_income']>=150000

In [189]:
inf_150000

0        True
1        True
2        True
3       False
4        True
        ...
1053     True
1054     True
1055     True
1056    False
1057    False
Name: int_income, Length: 980, dtype: bool

In [190]:
data['How far will you travel for Thanksgiving?'][inf_150000].value_counts()

Thanksgiving is happening at my home--I won't travel at all                         281
Thanksgiving is local--it will take place in the town I live in                     203
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    150
Thanksgiving is out of town and far away--I have to drive several hours or fly       55
Name: How far will you travel for Thanksgiving?, dtype: int64

In [191]:
data['How far will you travel for Thanksgiving?'][sup_150000].value_counts()

Thanksgiving is happening at my home--I won't travel at all                         66
Thanksgiving is local--it will take place in the town I live in                     34
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    25
Thanksgiving is out of town and far away--I have to drive several hours or fly      15
Name: How far will you travel for Thanksgiving?, dtype: int64

In [192]:
data.pivot_table(index='Have you ever tried to meet up with hometown friends on Thanksgiving night?', columns='Have you ever attended a "Friendsgiving?"',values='int_age')

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

In [193]:
data.pivot_table(index='Have you ever tried to meet up with hometown friends on Thanksgiving night?', columns='Have you ever attended a "Friendsgiving?"',values='int_income')

Have you ever attended a "Friendsgiving?"                     No           Yes
Have you ever tried to meet up with hometown fr...
No                                                  78914.549654  72894.736842
Yes                                                 78750.000000  66019.736842