In [155]:
import pandas as pd
import numpy as np
from re import *
data = pd.read_csv('/home/simplon/Téléchargements/thanksgiving.csv',encoding='latin-1')

In [194]:
celebrate_thanksgiving_yes_bol= data['Do you celebrate Thanksgiving?'] == 'Yes'
celebrate_thanksgiving_yes_bol.value_counts()
data=data[celebrate_thanksgiving_yes_bol].copy()

In [195]:
age_str=data['Age']

In [196]:
def convertStrInt(S):
    if pd.isnull(S)==True:
        return None
    else:
        s=S.split()
        s=s[0]
        s=s.replace('+','')
        s=int(s)
        return s

In [197]:
data['int_age']=data['Age'].apply(convertStrInt)

In [198]:
data['int_age'].describe()

count    947.000000
mean      40.089757
std       15.352014
min       18.000000
25%       30.000000
50%       45.000000
75%       60.000000
max       60.000000
Name: int_age, dtype: float64

In [199]:
def convertrevenu(X):
    if pd.isnull(X)==True:
        return None
    X=X.split()
    X=X[0]
    if X == 'Prefer':
        return None
    X=X.replace("$","")
    X=X.replace(",","")
    X=int(X)
    return X

data['int_income']=data['How much total combined money did all members of your HOUSEHOLD earn last year?'].apply(convertrevenu)

In [200]:
data['int_income'].describe()

count       829.000000
mean      75965.018094
std       59068.636748
min           0.000000
25%       25000.000000
50%       75000.000000
75%      100000.000000
max      200000.000000
Name: int_income, dtype: float64

In [201]:
inf_150000 = data[:]['int_income']<150000
sup_150000 = data[:]['int_income']>=150000

In [202]:
inf_150000

0        True
1        True
2        True
3       False
4        True
        ...
1053     True
1054     True
1055     True
1056    False
1057    False
Name: int_income, Length: 980, dtype: bool

In [203]:
data['How far will you travel for Thanksgiving?'][inf_150000].value_counts()

Thanksgiving is happening at my home--I won't travel at all                         281
Thanksgiving is local--it will take place in the town I live in                     203
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    150
Thanksgiving is out of town and far away--I have to drive several hours or fly       55
Name: How far will you travel for Thanksgiving?, dtype: int64

In [204]:
data['How far will you travel for Thanksgiving?'][sup_150000].value_counts()

Thanksgiving is happening at my home--I won't travel at all                         66
Thanksgiving is local--it will take place in the town I live in                     34
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    25
Thanksgiving is out of town and far away--I have to drive several hours or fly      15
Name: How far will you travel for Thanksgiving?, dtype: int64

In [205]:
data.pivot_table(index='Have you ever tried to meet up with hometown friends on Thanksgiving night?', columns='Have you ever attended a "Friendsgiving?"',values='int_age')

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

In [206]:
data.pivot_table(index='Have you ever tried to meet up with hometown friends on Thanksgiving night?', columns='Have you ever attended a "Friendsgiving?"',values='int_income')

Have you ever attended a "Friendsgiving?"                     No           Yes
Have you ever tried to meet up with hometown fr...
No                                                  78914.549654  72894.736842
Yes                                                 78750.000000  66019.736842